language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - composer self-update
  - composer install --no-interaction --dev

script: phpunit -c ./tests/phpunit.xml -d memory_limit=1024M ./tests

matrix:
  allow_failures:
    - php: hhvm
    - php: 5.6
  fast_finish: true

branches:
  except:
    - 1.0